.Article-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4px;
  margin: 0 12px;
}

.article {
  border: 1.5px solid #000;
  width: 600px;
}
.App {
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: row;
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.likes button {
  margin-left: 5px;
  margin-bottom: 10px;
}
button {
  padding: 0.5rem 0.8rem;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
